body{
    background-color: #E5E5E5;
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   
}

.login{
    background-color:  #50A4F2;
    padding: 40px;
    order: 2;
    width: 400px;
    text-align: center;
    align-items: center;
}

.register{
    background-color: #fff;
    padding: 40px;
    order: 1;
    width: 400px;
    height: 400px;
    text-align: center;
    align-items: center;
}

.login h1{
    color: #fff;
    text-transform: uppercase;
}

.register h1{
    color: #50A4F2;
    text-transform: uppercase;
}

.input{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #50A4F2;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.input:focus{
    width: 225px;
    border-color: #2EDF3F;
}

.button1{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #50A4F2;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    text-transform: capitalize;
    font-weight: 900;
    color: #50A4F2;
    border-radius: 24px;
    transition: 0.25s;
}
.button1:hover{
    background-color: #50A4F2;
    color: white;
    width: 250px;
}

.button2{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    text-transform: capitalize;
    font-weight: 900;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.button2:hover{
    background-color: white;
    color: #50A4F2;
    width: 250px;
}

#login{
    text-decoration: none;
}

.output{
    order: 3;
}

@media only screen and (min-width:800px){
    .login{
        
        height: 400px;
    }
}






